body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
 }
 
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
 }


img {
  border: 5px solid #daad86;
}
h1 {
font: 600 2.5rem/3.25rem 
font-weight: bold;
}

.jumbotron{
  position: relative;
  background: #508484;
  text-align:center;
  
}
.jumbotron {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }


.header {
	position: relative;
	overflow: hidden;
	padding-top: 6rem;
	padding-bottom: 17rem;
	background: #659dbd;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.navbar {
	background-color: #daad86;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.025);
}