body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
 }
 
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
 }


img {
  border: 5px solid #daad86;
}
h1 {
font: 600 2.5rem/3.25rem 
font-weight: bold;
}

.header {
	position: relative;
	overflow: hidden;
	padding-top: 6rem;
	padding-bottom: 17rem;
	background: #659dbd;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navbar {
	background-color: #daad86;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.025);
}


button {
	display: block;
	position: relative;
	margin: 0.5em 0;
	padding: .8em 2.2em;
	cursor: pointer;

	background: #FFFFFF;
	border: none;
	border-radius: .4em;

  color:black;
	text-transform: uppercase;
	font-size: 1.4em;
	font-family: "Work Sans", sans-serif;
	font-weight: 500;
	letter-spacing: 0.04em;

	perspective: 500px;
	transform-style: preserve-3d;

}
.copyright {
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
}

.copyright .p-small {
	color: #fbeec1;
	text-align: center;
}

.copyright a {
	color: #92989c;
}

